<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs')%>
    <link rel="stylesheet" href="css/contactedStyles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks!</title>
</head>
<body>
    <%-include('./partials/header.ejs')%>

    <h1 class="main-title">Thanks!</h1>
    <div class="container">
        <h2 class="subtitle">
            Thank you for contacting me. I'll get back to you as soon as possible.
        </h2>
    </div>
    

    <%-include('./partials/footer.ejs')%>
    
</body>
</html>