<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head')%>
    <link rel="stylesheet" href="/css/mainStyles.css">
    <link rel="stylesheet" href="/css/projectDetail.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
</head>
<body>
    <%-include('./partials/header')%>

    <main>
        <section>
            <h1 class="main-title">Project</h1>
        </section>

    </main>

    <%-include('./partials/footer')%>
    
</body>
</html>