<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs')%>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
</head>
<body>
    <%-include('./partials/header.ejs')%>

    <h1>Página en construcción</h1>

    <%-include('./partials/footer.ejs')%>    
</body>
</html>