<header>
    <a href="/es">
        <div class="logotype-container">
            <div id="logo-container" class="logo-container">
                <h1>&lt;/&gt;</h1>
            </div>
            <div class="name-container">
                <p class="first-name">NICOLÁS</p>
                <p class="last-name">LERCH</p>
            </div>        
        </div>
    </a>

    <nav class="nav-bar">
        <ul>
            <li><a href="/es/sobremi" id="about">Sobre mi</a></li>
            <li><a href="/es/proyectos" id="projects">Proyectos</a></li>
            <li><a href="/es/habilidades" id="skills">Habilidades</a></li>
            <li><a href="/es/contacto" id="contact">Contacto</a></li>
        </ul>
    </nav>
    <i id="menu-button" class="fa-solid fa-bars"></i>
    <div id="dropdown-menu" class="dropdown">
        <div class="dropdown-content">
            <a href="/es/sobremi">Sobre mi</a>
            <a href="/es/proyectos">Proyectos</a>
            <a href="/es/habilidades">Habilidades</a>
            <a href="/es/contacto">Contacto</a>
        </div>
    </div>

    <div class="lenguages">
        <button class="lang-button selected" id="en"><a href="/">EN</a></button>
        <button class="lang-button unselected" id="es"><a href="/es">ES</a></button>
    </div>


</header>