<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head.ejs')%>
    <link rel="stylesheet" href="/css/mainStyles.css">
    <link rel="stylesheet" href="/css/contactedStyles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gracias!</title>
</head>
<body>
    <%-include('../partials/headerEs.ejs')%>

    <h1 class="main-title">Gracias!</h1>
    <div class="container">
        <h2 class="subtitle">
            Gracias por contacterme. Me pondré en contacto contigo lo antes posible.
        </h2>
    </div>
    

    <%-include('../partials/footerEs.ejs')%>
    
</body>
</html>